/* Estilos gerais do corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte da página */
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
    background-color: #121212; /* Cor de fundo escura */
    color: #ffffff; /* Cor do texto branca */
}

/* Estilos para o cabeçalho */
header {
    background-color: #1e1e1e; /* Cor de fundo do cabeçalho */
    padding: 20px; /* Espaçamento interno do cabeçalho */
    text-align: center; /* Centraliza o conteúdo do cabeçalho */
}

/* Estilos para a navegação */
nav {
    display: flex; /* Define o contêiner como flexível */
    justify-content: center; /* Centraliza os itens horizontalmente */
    margin-top: 20px; /* Margem superior para separar do cabeçalho */
}

nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão */
    display: flex; /* Torna a lista um contêiner flexível */
    gap: 15px; /* Espaçamento entre os itens da lista */
}

nav ul li {
    margin: 0; /* Remove margens dos itens da lista */
}

/* Estilos para os links da navegação */
nav a {
    color: #d8b9f2; /* Cor dos links (lilás brilhante) */
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 10px 15px; /* Adiciona preenchimento para criar um botão */
    border-radius: 5px; /* Bordas arredondadas nos links */
    transition: transform 0.2s ease, color 0.2s ease; /* Efeito de transição suave ao passar o mouse */
}

/* Efeito de aumento nos links ao passar o mouse */
nav a:hover {
    transform: scale(1.1); /* Aumenta o tamanho do link */
    color: #a02c90; /* Cor do link ao passar o mouse (um rosa) */
    background-color: rgba(216, 185, 242, 0.2); /* Adiciona um fundo levemente colorido ao passar o mouse */
}

/* Estilos para as imagens */
img {
    width: 180px; /* Largura fixa da imagem */
    height: 180px; /* Altura fixa da imagem */
    object-fit: cover; /* Ajusta a imagem para se adaptar ao quadrado */
    border-radius: 50%; /* Torna a imagem redonda */
    border: 5px solid #d8b9f2; /* Bordas lilás brilhante */
}

/* Estilos para as seções da página */
section {
    padding: 40px 20px; /* Espaçamento interno das seções */
}

/* Estilos para os cabeçalhos */
h1, h2, h3 {
    color: #d8b9f2; /* Cor lilás brilhante para os cabeçalhos */
}

/* Estilos para os contêineres de projetos */
.projeto {
    background-color: #2a2a2a; /* Cor de fundo dos contêineres de projeto */
    padding: 15px; /* Espaçamento interno do contêiner */
    margin: 10px 0; /* Margem entre os contêineres */
    border-radius: 20px;
}

.projeto2 {
    background-color: #1e1d1d; /* Cor de fundo dos contêineres de projeto */
    padding: 15px; /* Espaçamento interno do contêiner */
    margin: 10px 0; /* Margem entre os contêineres */
    border-radius: 20px;
}

/* Estilos para o rodapé */
footer {
    background-color: #1e1e1e; /* Cor de fundo do rodapé */
    text-align: center; /* Centraliza o texto do rodapé */
    padding: 10px; /* Espaçamento interno do rodapé */
    width: 100%; /* Largura total do rodapé */
    display: flex; /* Usar flexbox para centralizar conteúdo */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente (opcional) */
    position: static; /* Posição estática para que o footer fique no fluxo normal */
}

.contato-icones {
    display: flex; /* Define como um contêiner flexível */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaçamento entre os ícones */
    padding: 20px; /* Espaçamento interno, opcional */
}


/* Estilos para os ícones sociais */
.social-icon {
    width: 40px; /* Tamanho dos ícones */
    height: 40px; /* Tamanho dos ícones */
    transition: transform 0.2s ease; /* Animação suave ao passar o mouse */
    border-radius: 0; /* Garante que não haja bordas arredondadas */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do ícone */
    border: none; /* Remove qualquer borda do ícone */
}

/* Estilos para a imagem dentro dos ícones sociais */
.social-icon img {
    width: 100%; /* Deixa a imagem ocupar todo o ícone */
    height: 100%; /* Altura da imagem ocupa todo o ícone */
    object-fit: cover; /* Assegura que a imagem preencha o ícone sem distorção */
    border-radius: 0; /* Remove bordas arredondadas para deixar quadrado */
}

/* Efeito de aumento nos ícones sociais ao passar o mouse */
.social-icon:hover {
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
    filter: brightness(1.2); /* Aumenta o brilho ao passar o mouse */
}

/* Estilos para a seção de linguagens */
.linguagens {
    display: flex; /* Alinha o texto e a imagem lado a lado */
    gap: 70px; /* Espaçamento entre a imagem e o texto */
}

.linguagens-imagem {
    width: 500px; /* Aumenta a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Garante que a imagem não se distorça */
    border: none; /* Remove qualquer borda */
    border-radius: 0; /* Remove qualquer arredondamento */
    margin-left: 10px; /* Joga a imagem para a direita */
}

.h2-programing {
    color: #d8b9f2;
    text-align: center; /* Centraliza o título */
}

.educacao-container {
    display: flex; /* Alinha o conteúdo em uma linha */ 
    gap: 70px; /* Espaçamento entre o texto e a imagem */
}

.educacao-imagem {
    width: 500px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção */
    object-fit: contain; /* Garante que a imagem não se distorça */
    border: none; /* Remove bordas */
    border-radius: 0; /* Remove o arredondamento */
    margin-left: auto; /* Move a imagem para a direita */
}

.educacao-container p {
    flex: 1; /* Faz o parágrafo ocupar o espaço restante ao lado da imagem */
    text-align: left; /* Garante que o texto fique alinhado à esquerda */
}

.h2-educacao {
    color: #d8b9f2;
    text-align: center; /* Centraliza o título */
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .linguagens, .educacao-container {
        flex-direction: column; /* Alinha a imagem e o texto em coluna */
        align-items: center; /* Centraliza os itens */
    }

    .linguagens-imagem, .educacao-imagem {
        width: 90%; /* Largura da imagem em telas menores */
    }
}

.github-link {
    text-decoration: none; /* Remove o sublinhado */
    color: #d8b9f2; /* Cor padrão do link */
    transition: color 0.3s; /* Suaviza a transição de cor */
}

.github-link:hover {
    color: #a02c90; /* Cor lilás ao passar o mouse */
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px;
    background-color: rgba(106, 13, 173, 0.9);;  /* Roxo neon */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

section.appear {
    opacity: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(106, 13, 173, 0.9); /* Roxo transparente */
    z-index: 1000;
    transition: background-color 0.5s ease;
}

/* Estilos do Botão de Menu */
.menu-btn {
    position: relative;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 10; /* Para garantir que o botão fique acima do menu */
}

.menu-btn-burger {
    width: 100%;
    height: 4px;
    background-color: #bb86fc; /* Purple neon */
    transition: all 0.3s ease;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #bb86fc;
    transition: all 0.3s ease;
}

.menu-btn-burger::before {
    top: -10px;
}

.menu-btn-burger::after {
    top: 10px;
}

/* Menu Oculto */
.nav-hidden {
    display: none;
}

.nav-visible {
    display: block;
}

/* Animação quando o menu é ativado */
.menu-btn.open .menu-btn-burger {
    transform: rotate(30deg);
}

.menu-btn.open .menu-btn-burger::before {
    top: 0;
    transform: rotate(90deg);
}

.menu-btn.open .menu-btn-burger::after {
    top: 0;
    opacity: 0;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .nav {
        /* Adicione quaisquer estilos para o menu aqui */
        position: absolute; /* Para sobrepor o conteúdo */
        top: 50px; /* Abaixo do botão */
        left: 0;
        right: 0;
        background-color: #fff; /* Fundo do menu */
        z-index: 9; /* Para garantir que o menu fique abaixo do botão */
        transition: all 0.3s ease; /* Suavização para a transição */
    }
}

  
